<h1>Pirates</h1>
<div class="pirates">
  <h3>Name: <%= @pirates.name %></h3><br>
  <h3>Weight: <%= @pirates.weight %></h3><br>
  <h3>Height: <%= @pirates.height %></h3><br>
</div><br>


<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>